<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="WFPWebServiceSoap">
                    <security mode="Transport"/>
                </binding>
                <binding name="WFPWebServiceSoap1"/>
                <binding name="BasicHttpBinding-ELMA_IAuthorizationService"/>
                <binding name="BasicHttpBinding-ELMA_IAuthorizationService1">
                    <security mode="Transport"/>
                </binding>
                <binding name="BasicHttpBinding-ELMA_Workflow"/>
                <binding name="BasicHttpBinding-ELMA_Workflow1">
                    <security mode="Transport"/>
                </binding>
                <binding name="BasicHttpBinding-ELMA_IEntityService"/>
                <binding name="BasicHttpBinding-ELMA_IEntityService1">
                    <security mode="Transport"/>
                </binding>
                <binding name="BasicHttpBinding-ELMA_IFilesService"/>
                <binding name="BasicHttpBinding-ELMA_IFilesService1">
                    <security mode="Transport"/>
                </binding>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://elma.eriskip.com/Modules/EleWise.ELMA.Workflow.Processes.Web/WFPWebService.asmx" binding="basicHttpBinding" bindingConfiguration="WFPWebServiceSoap" contract="ElmaConnector.WFPWebServiceSoap" name="WFPWebServiceSoap"/>
            <endpoint address="http://elma.eriskip.local/API/Authorization" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding-ELMA_IAuthorizationService" contract="AuthorizationService.IAuthorizationService" name="BasicHttpBinding-ELMA_IAuthorizationService"/>
            <endpoint address="https://elma.eriskip.com/API/Authorization" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding-ELMA_IAuthorizationService1" contract="AuthorizationService.IAuthorizationService" name="BasicHttpBinding-ELMA_IAuthorizationService1"/>
            <endpoint address="http://elma.eriskip.local/API/Workflow" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding-ELMA_Workflow" contract="WorkflowService.Workflow" name="BasicHttpBinding-ELMA_Workflow"/>
            <endpoint address="https://elma.eriskip.com/API/Workflow" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding-ELMA_Workflow1" contract="WorkflowService.Workflow" name="BasicHttpBinding-ELMA_Workflow1"/>
            <endpoint address="http://elma.eriskip.local/API/Entity" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding-ELMA_IEntityService" contract="EntityService.IEntityService" name="BasicHttpBinding-ELMA_IEntityService"/>
            <endpoint address="https://elma.eriskip.com/API/Entity" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding-ELMA_IEntityService1" contract="EntityService.IEntityService" name="BasicHttpBinding-ELMA_IEntityService1"/>
            <endpoint address="http://elma.eriskip.local/API/Files" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding-ELMA_IFilesService" contract="FilesService.IFilesService" name="BasicHttpBinding-ELMA_IFilesService"/>
            <endpoint address="https://elma.eriskip.com/API/Files" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding-ELMA_IFilesService1" contract="FilesService.IFilesService" name="BasicHttpBinding-ELMA_IFilesService1"/>
        </client>
    </system.serviceModel>
</configuration>
